body{
    background-color: rgb(217, 203, 230);
    width: 100%;
}
/* #entete{
    display: flex;
justify-content: center;
align-items: center;
margin-bottom: 10px;
} */

#title1 {
    text-align: center;
    color: rgb(92, 4, 84);
    
}
.Img {
    display: flex;
    justify-content: center;
}
#tete1{
    background-color: rgb(151, 89, 209);
    padding: 20px;
}
h3{
    text-align: center;
}
h5{
    text-align: center;
    
}
p{
    text-align: justify;
    color: blueviolet;
}
#gemmoimg{
    width: 20%;
}
#lithoimg{
    width: 20%;
    display: flex;

}
#videolink{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
