body{
    background-color: rgb(217, 203, 230);
}
#entete{
    display: flex;
justify-content: center;
align-items: center;
}

#title1 {
    text-align: center;
    color: rgb(92, 4, 84);
    
}
.Img {
    display: flex;
justify-content: space-around;
}
#tete1{
    background-color: rgb(151, 89, 209);
    padding: 20px;
}
#gemmoimg{
    width: 20%;
}
#lithoimg{
    width: 20%;
    display: flex;

}
#videolink{
    display: flex;
    justify-content: center;
    align-items: center;
    
}