#entete{
    display: flex;
justify-content: center;
align-items: center;
}

#title1 {
    text-align: center;
    color: rgb(92, 4, 84);
    
}
.Img {
    display: flex;
justify-content: space-around;
}